/* GOOGLE FONTS INSTALLS */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&family=Barlow+Semi+Condensed:wght@500&family=Barlow:wght@600&family=Cardo&family=Crimson+Text:wght@200&family=Nunito:wght@400&family=Oswald&family=Overpass&family=Shadows+Into+Light&family=Vollkorn&display=swap');

@import url('https: //www.dafontfree.net/embed/c2VyaWYxMi1iZXRhLXJlZ3VsYXImZGF0YS80Mi9zLzkxODg3L1NlcmlmMTJCZXRhLVJlZ3VsYXIub3Rm');

/* JS CODES */
@keyframes initTransition {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}
    /* REDUCE TRANSITION */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
/* HTML COMPONENTS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Cardo', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Vollkorn', serif;
}
html {
    /* VARIABLE */
    --title-size: 3.125rem;
    font-size: 1rem;
    --tw-bg-opacity: 1;
    font-family: Nunito;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgba(65, 69, 72, var(--tw-text-opacity));
    word-spacing: 1px;
    font-variant-numeric: lining-nums;
    -webkit-text-size-adjust: 100%;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
}

/* SHOW AND HIDDEN */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* --- SCROLL SETTINGS --- */
/* SCROLL SNAPPER */
.snap-inline {
    scroll-snap-type: inline mandatory;
}

.snap-inline>* {
    scroll-snap-align: start;
}

/* SCROLLBAR */
/* width */ ::-webkit-scrollbar {
    width: 0.325rem;
    height: 0.325rem;
}
/* Track */ ::-webkit-scrollbar-track {
    background: #1E1E26;
}
/* Handle */ ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
/* Handle on hover */ ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* SCROLL TRACKER */
.scroll-tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.5rem;
    background-color: blue;
    transform-origin: left;
}
.image-rotate-in {
    
}
/* BODY PARTS */
/* PROMOTION */
.promo {
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    background-color: #1F1C17;
    color: #FEFBF4;
    transition: text 1s;
    z-index: 1;
}

.promo::after {
    content: "+";
    padding-left: 1rem;
}

.promo:hover {
    text-decoration-line: underline;
}

/* TOP NAVIGATOR BAR */
nav {
    /* position: fixed; */
    /* top: 2.5rem; */
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 2fr) minmax(100px, 1fr) minmax(100px, 2fr);
    width: 100%;
    /* height: 3.8125rem; */
    height: 5rem;
    border-bottom: #EDE0CC 1.5px solid;
    background-color: #FEFBF4;
    z-index: 1;
}

.navi {
    --pader-space: 6.875em;
    gap: 2em;
}
.navi > a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #1F1C17;
}
.navi.left-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--pader-space);
}
.navi.mid-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navi.right-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: var(--pader-space);
}

/* BODY COMPONENTS */
/* BLOCK */
.block {
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: 100%;
    border-bottom: #FEFBF4 1px solid;
}

/* ITEMS */
.item {
    margin: 3.125rem;
}
/* ITEM 1 */
.item-1 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    height: 3.75rem;
    border-bottom: 3px rgb(75, 75, 75) solid;
}

/* FIRST BLOCK */
.first-block {
    display: flex;
    border-top: none;
    border-bottom: #EDE0CC 1.5px solid;
}

/* CONTENT BLOCK */
.contentblock {
    width: 50%;
    height: 100%;
}
.contentblock .sub {
    padding: 9.4rem 0 0 6.875rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-gap: 1.8em;
}
.contentblock .item {
    margin: 0;
}
.contentblock .item-1 {
    font-size: 2.25rem;
    border: 0;
    height: 100%;
}
.contentblock .item-2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3.8rem;
    text-transform: uppercase;
    line-height: 3.84375rem;
}

/* BLOCKQUOTES */
.contentblock .item-3 {
    quotes: "“" "”" "‘" "’";
    align-self: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}
.contentblock .item-3::before {
    content: open-quote;
}
.contentblock .item-3::after {
    content: close-quote;
}

/* XEM THEM BUTTON */
.about_more {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-decoration: none;
    font-size: 1.375rem;
    height: 4.375rem;
    width: 25rem;
    background-color: #1F1C17;
    color:#FEFBF4;
    transition: background-color 0.3s ease;
}
.about_more:hover {
    background-color: #4E4B47;
}
.about_more:active {
    background-color: rgb(138, 229, 138);
}

/* BODY COMPONENTS */
.container {
    margin: 50px 50px;
    display: grid;
    grid-gap: 2em;
    /* grid-template-columns: 100px minmax(100px, 3fr) minmax(100px, 1fr); */
    grid-template-columns: 100px repeat(auto-fit, minmax(100px, 3fr)) 100px;
    grid-template-rows: repeat(auto-fit, 100px);
    grid-auto-flow: 100px;
}
.container > .structure {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 100px repeat(auto-fit, minmax(100px, 3fr)) 100px;
    grid-template-rows: 100px;
    grid-auto-flow: 100px;
    /* background-color: rgb(123, 98, 98); */
}

/* SQUARE AND RELATIVE ELEMENTS */
.square {
    background-color: black;
    transition: all 1s;
}
.box {
    border: 0px solid rgb(75, 75, 75);
    border-left: 0px solid black;
    pointer-events: none;
    margin-left: 50px;
    transition: border 1s ease-in;
}
.text {
    color: rgb(75, 75, 75);
    user-select: none;
    align-self: center;
    transition: all 1s;
}
/* SQUARE TRIGGER EFFECTS */
.square:hover {
    rotate: 45deg;
    background-color: white;
}
.square:hover~.text {
    color: white;
}
.square:hover~.box {
    border: 1px solid white;
}

/* SECOND BLOCK */
/* SOCIAL POSTS */
.second-block {
    background-color: #1E1E26;
}
.second-block .item-1 {
    margin-right: 20rem;
    font-size: var(--title-size);
    color: #ffffff;
}
.second-block .item-2 {
    margin-top: 0px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    column-gap: 1.5rem;
    overflow-x: auto;
    padding: 0 1rem 1rem 0;
    /* scrollbar-gutter: stable both-edges; */
}
/* ITEM 2 CONTENTS */
.item-2 > .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: #c1c1c1;
    border-radius: 3%;
    padding: 0.8125rem;
}
.content.title {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.7525rem;
}
.content.text {
    height: 4.25rem;
    overflow: hidden;
}
.item-2 > .content::after {
    content: "Đọc thêm...";
    font-size: 1.15rem;
    position: relative;
    text-align: right;
    color: rgb(99, 74, 27);
}
.content > img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    height: 10rem;
    border-radius: 3%;
}

/* THIRD BLOCK */
/* INTRODUCE */
.third-block {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, auto);
}
.third-block > .item {
    transition-delay: calc(100ms * var(--order));
}
/* .third-block > .item:nth-child(2) {
    transition-delay: 200ms;
}
.third-block> .item:nth-child(3) {
    transition-delay: 400ms;
}
.third-block> .item:nth-child(4) {
    transition-delay: 600ms;
} */
.third-block .item-1 {
    --order: 1;
    grid-area: 1 / 1 / 2 / 2;
    color: red;
    font-size: var(--title-size);
    border-bottom: 3px rgb(75, 75, 75) solid;
}
.third-block .item-2 {
    --order: 2;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 0;
    text-align: justify;
    text-justify: auto;
    color: rgb(75, 75, 75);
    font-size: 1.0625rem;
}
.third-block .item-3 {
    --order: 3;
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 0;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: right;
}
.third-block .item-4 {
    --order: 4;
    grid-area: 1 / 2 / 4 / 3;
    align-self: center;
    justify-self: center;
}
.third-block .item-4 > img {
    width: 20.125rem;
    height: 23.875rem;
    transition: transform 0.3s ease-in-out;
}
.third-block .item-4> img:hover{
    transform: translateY(-20px);
    z-index: 2;
}

/* FOURTH BLOCK */
/* MEMBERS */
.fourth-block {
    background-image: url("/image/Background/banner12.jpg");
    background-size: 100%;
}
.fourth-block .item-1 {
    margin-bottom: 0px;
    font-family: 'Shadows Into Light', cursive;
    color: #FFFFFF;
    font-size: var(--title-size);
    text-align: center;
    border: 0;
}
.fourth-block .item-2 {
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
.fourth-block .item-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth-block .item-3 > img{
    width: 50%;
}

/* FRAMES */
.frame {
    /* background-color: #a48080; */
    background-image: url("/image/Avatar/lkjlkjlk.jpg");
    background-size: 100%;
    height: 22.875rem;
    width: 13.625rem;
    /* border-radius: 10%; */
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 2rem;
    transition: transform 1s ease-in-out;
}
.frame.under {
    /* background-color: #ffffff; */
    margin-top: 6.25rem;
}
.frame:hover {
    transform: translateY(-12px);
}
/* INFORMATION ON FRAMES */
.frame.infor{
    height: 4.6875rem;
    width: 13.625rem;
    background-color: rgb(75, 75, 75);
    background-image: url("/image/Avatar/alkdjlkas.jpg");
    color: #d3d2d2;
    opacity: 0;
    transition: opacity 1s ease-out; 
    grid-area: 1 / 1 / 1 / 1;
    align-self: self-end;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* border-radius: 3%; */
}
.frame:hover .infor {
    transform: translateY(0);
    opacity: 1;
}
.frame > .frame-rounded {
    grid-area: 1 / 1 / 1 / 1;
    height: 22.875rem;
    width: 13.525rem;
    border: 2px solid #ffffff;
    transition: transform 1s ease-in-out;
    position: absolute;
}
.frame:hover .frame-rounded {
    transform: scale(0.9);
}


/* FOOTER */
.footer {
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: repeat(auto-fit, auto);
    width: 100%;
}
.footer.linebreak {
    height: 8.25rem;
    background-color: #EDE734;
}
.footer.tags {
    margin: 2rem 0rem 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(6, 10.3rem);
    grid-template-rows: auto;
    column-gap: 0.75rem;
    justify-content: center;
}
.infor.name {
    font-size: 1.25rem;
}

/* TAGS */
.tags > a {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: black;
}
.tags > ul {
    margin-top: 1rem;
    list-style-type: none;
}
.tags > ul > li > a {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
}